# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Idea Files
misc.xml
modules.xml
profiles_settings.xml
simple-python-web-app.iml
vcs.xml